<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,493}</string>
                <key>spriteSourceSize</key>
                <string>{282,493}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,161}</string>
                <key>spriteSourceSize</key>
                <string>{253,161}</string>
                <key>textureRect</key>
                <string>{{285,1},{253,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>candy.png</string>
            <key>size</key>
            <string>{447,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74fd84fc0835177ebcc73c1da52ad635:1e0e16f0e422351439a98f0c5eb3accb:a469cf6ccfd489a193c132dead5e1216$</string>
            <key>textureFileName</key>
            <string>candy.png</string>
        </dict>
    </dict>
</plist>
