<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{269,485}</string>
                <key>spriteSourceSize</key>
                <string>{269,493}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{272,306}</string>
                <key>spriteSourceSize</key>
                <string>{288,306}</string>
                <key>textureRect</key>
                <string>{{272,1},{272,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{162,205}</string>
                <key>spriteSourceSize</key>
                <string>{162,207}</string>
                <key>textureRect</key>
                <string>{{272,309},{162,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,69}</string>
                <key>spriteSourceSize</key>
                <string>{223,69}</string>
                <key>textureRect</key>
                <string>{{546,1},{219,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{99,141}</string>
                <key>spriteSourceSize</key>
                <string>{105,143}</string>
                <key>textureRect</key>
                <string>{{479,309},{99,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>khobau.png</string>
            <key>size</key>
            <string>{616,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca7aa4d2740623945a71b111ca7825ef:b6eae5d98c85549ebc3ddb27b8f4b295:a597be789e244f037c8e3d8669610593$</string>
            <key>textureFileName</key>
            <string>khobau.png</string>
        </dict>
    </dict>
</plist>
