<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,225}</string>
                <key>spriteSourceSize</key>
                <string>{269,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,96}</string>
                <key>textureRect</key>
                <string>{{400,64},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,126}</string>
                <key>textureRect</key>
                <string>{{272,64},{130,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,85}</string>
                <key>spriteSourceSize</key>
                <string>{95,85}</string>
                <key>textureRect</key>
                <string>{{400,162},{95,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{207,61}</string>
                <key>spriteSourceSize</key>
                <string>{215,61}</string>
                <key>textureRect</key>
                <string>{{272,1},{207,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taixiu.png</string>
            <key>size</key>
            <string>{505,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deed40ffff8ab915ddfc08b8c5de0caa:e1ce23586cfd23789636d0369c4208fe:4693879863866966e278ae92aa3474b5$</string>
            <key>textureFileName</key>
            <string>taixiu.png</string>
        </dict>
    </dict>
</plist>
