<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,112}</string>
                <key>spriteSourceSize</key>
                <string>{125,112}</string>
                <key>textureRect</key>
                <string>{{1470,1},{125,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,112}</string>
                <key>spriteSourceSize</key>
                <string>{125,112}</string>
                <key>textureRect</key>
                <string>{{1585,1},{125,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1086,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1214,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1342,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{156,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{311,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{466,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{621,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{776,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{931,1},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>candy_icons.png</string>
            <key>size</key>
            <string>{1698,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8408b8e62f9d3024c31ca907023cd77:91746ee54a65f71910db7f95d1e12ff9:dd91fb68f82cada61aebbc8e4143f990$</string>
            <key>textureFileName</key>
            <string>candy_icons.png</string>
        </dict>
    </dict>
</plist>
