<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1011,29}</string>
                <key>spriteSourceSize</key>
                <string>{1011,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{1011,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,4}</string>
                <key>spriteSourceSize</key>
                <string>{128,4}</string>
                <key>textureRect</key>
                <string>{{1011,0},{128,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,42}</string>
                <key>spriteSourceSize</key>
                <string>{128,42}</string>
                <key>textureRect</key>
                <string>{{1139,0},{128,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tab_menu.png</string>
            <key>size</key>
            <string>{1267,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9f020fdfa372eeae0a340fc08d29b9:02ce992ec5df079c34003c7c761ce62d:41fbd6cf8311562a0d07f3b996e606b1$</string>
            <key>textureFileName</key>
            <string>tab_menu.png</string>
        </dict>
    </dict>
</plist>
