<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,285}</string>
                <key>spriteSourceSize</key>
                <string>{494,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{494,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{259,169}</string>
                <key>spriteSourceSize</key>
                <string>{259,171}</string>
                <key>textureRect</key>
                <string>{{1,288},{259,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,122}</string>
                <key>textureRect</key>
                <string>{{381,288},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{97,106}</string>
                <key>spriteSourceSize</key>
                <string>{101,106}</string>
                <key>textureRect</key>
                <string>{{381,398},{97,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{117,121}</string>
                <key>spriteSourceSize</key>
                <string>{119,121}</string>
                <key>textureRect</key>
                <string>{{262,288},{117,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>candy-bg.png</string>
            <key>size</key>
            <string>{496,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4fef84745d76076dd4cb46dab930d9:46a1ac4bccb1962e306834fead008fb5:205ce9160a0bff385711f11ef2500923$</string>
            <key>textureFileName</key>
            <string>candy-bg.png</string>
        </dict>
    </dict>
</plist>
