<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,12}</string>
                <key>spriteSourceSize</key>
                <string>{784,12}</string>
                <key>textureRect</key>
                <string>{{788,986},{784,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,12}</string>
                <key>spriteSourceSize</key>
                <string>{784,12}</string>
                <key>textureRect</key>
                <string>{{788,1000},{784,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,12}</string>
                <key>spriteSourceSize</key>
                <string>{784,12}</string>
                <key>textureRect</key>
                <string>{{1574,986},{784,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,187}</string>
                <key>spriteSourceSize</key>
                <string>{784,187}</string>
                <key>textureRect</key>
                <string>{{1582,797},{784,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{785,270}</string>
                <key>spriteSourceSize</key>
                <string>{785,270}</string>
                <key>textureRect</key>
                <string>{{2505,1},{785,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{785,206}</string>
                <key>spriteSourceSize</key>
                <string>{785,206}</string>
                <key>textureRect</key>
                <string>{{1,805},{785,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,180}</string>
                <key>spriteSourceSize</key>
                <string>{783,180}</string>
                <key>textureRect</key>
                <string>{{2368,794},{783,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,370}</string>
                <key>spriteSourceSize</key>
                <string>{784,370}</string>
                <key>textureRect</key>
                <string>{{2777,1},{784,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,369}</string>
                <key>spriteSourceSize</key>
                <string>{783,369}</string>
                <key>textureRect</key>
                <string>{{3153,236},{783,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,354}</string>
                <key>spriteSourceSize</key>
                <string>{783,354}</string>
                <key>textureRect</key>
                <string>{{3524,236},{783,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{793,356}</string>
                <key>spriteSourceSize</key>
                <string>{793,356}</string>
                <key>textureRect</key>
                <string>{{1975,1},{793,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,339}</string>
                <key>spriteSourceSize</key>
                <string>{794,339}</string>
                <key>textureRect</key>
                <string>{{1306,1},{794,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,372}</string>
                <key>spriteSourceSize</key>
                <string>{794,372}</string>
                <key>textureRect</key>
                <string>{{563,1},{794,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,344}</string>
                <key>spriteSourceSize</key>
                <string>{796,344}</string>
                <key>textureRect</key>
                <string>{{217,1},{796,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{791,170}</string>
                <key>spriteSourceSize</key>
                <string>{791,170}</string>
                <key>textureRect</key>
                <string>{{2333,1},{791,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,214}</string>
                <key>spriteSourceSize</key>
                <string>{802,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{802,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,187}</string>
                <key>spriteSourceSize</key>
                <string>{792,187}</string>
                <key>textureRect</key>
                <string>{{788,797},{792,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{777,233}</string>
                <key>spriteSourceSize</key>
                <string>{777,233}</string>
                <key>textureRect</key>
                <string>{{3149,1},{777,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,326}</string>
                <key>spriteSourceSize</key>
                <string>{794,326}</string>
                <key>textureRect</key>
                <string>{{1647,1},{794,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,367}</string>
                <key>spriteSourceSize</key>
                <string>{794,367}</string>
                <key>textureRect</key>
                <string>{{937,1},{794,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lines.png</string>
            <key>size</key>
            <string>{3927,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff5cbdefc75bc55a80a2b78ccb88e324:af7bafd5f873fdf7ad50f65ba07a3d98:dab9dd9b7ff6fbdc187dc2f6ebe58f05$</string>
            <key>textureFileName</key>
            <string>lines.png</string>
        </dict>
    </dict>
</plist>
