<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,444}</string>
                <key>spriteSourceSize</key>
                <string>{230,444}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,444}</string>
                <key>spriteSourceSize</key>
                <string>{230,444}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,444}</string>
                <key>spriteSourceSize</key>
                <string>{230,444}</string>
                <key>textureRect</key>
                <string>{{460,0},{230,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,444}</string>
                <key>spriteSourceSize</key>
                <string>{252,444}</string>
                <key>textureRect</key>
                <string>{{690,0},{252,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,445}</string>
                <key>spriteSourceSize</key>
                <string>{282,445}</string>
                <key>textureRect</key>
                <string>{{942,0},{282,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banner.png</string>
            <key>size</key>
            <string>{1224,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5071e4f7246685302c56d7ab1af367f7:7f596935aea6d944f785e09120f5abe7:468a889166313e164748aa683a0b056a$</string>
            <key>textureFileName</key>
            <string>banner.png</string>
        </dict>
    </dict>
</plist>
