<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini-3-cay-money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,195}</string>
                <key>spriteSourceSize</key>
                <string>{489,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{489,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3-cay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,340}</string>
                <key>spriteSourceSize</key>
                <string>{501,340}</string>
                <key>textureRect</key>
                <string>{{501,500},{501,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-poker-money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,278}</string>
                <key>spriteSourceSize</key>
                <string>{574,278}</string>
                <key>textureRect</key>
                <string>{{0,222},{574,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,342}</string>
                <key>spriteSourceSize</key>
                <string>{501,342}</string>
                <key>textureRect</key>
                <string>{{0,840},{501,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pirate-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,222}</string>
                <key>spriteSourceSize</key>
                <string>{486,222}</string>
                <key>textureRect</key>
                <string>{{489,0},{486,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pirate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,579}</string>
                <key>spriteSourceSize</key>
                <string>{501,579}</string>
                <key>textureRect</key>
                <string>{{501,1192},{501,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tutorial-bau-cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,358}</string>
                <key>spriteSourceSize</key>
                <string>{501,358}</string>
                <key>textureRect</key>
                <string>{{0,1192},{501,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tutorial-tai-xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,278}</string>
                <key>spriteSourceSize</key>
                <string>{501,278}</string>
                <key>textureRect</key>
                <string>{{0,500},{501,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tutorial-tren-duoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,352}</string>
                <key>spriteSourceSize</key>
                <string>{501,352}</string>
                <key>textureRect</key>
                <string>{{501,840},{501,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tutorial-image.png</string>
            <key>size</key>
            <string>{1002,1771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e9c9021547a1f574c61f5f76527be9:e4ec5b2f5c39f44ed94338ff59c8970f:4be15849b56f7bca56f60b75fac0c673$</string>
            <key>textureFileName</key>
            <string>tutorial-image.png</string>
        </dict>
    </dict>
</plist>
